.ban{
	
    background-image: url("../images/j1.jpg");
    background-image: linear-gradient(95,95,95,.08);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   

}

.ban-courses {

    background-image: url("../images/jumbotronpic2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.jumbo-text{

  color: white;
}

.cardseparate{

    margin-bottom: 5rem;
}

body{


    /*background-color: #cae4db;*/
    background-color: #cae4db;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.card{
    background-color: #cfdac8;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: black;
    font-weight: bold; 
}

.course-jumbo{

    background-color: #cfdac8;
    background-image: url("https://www.transparenttextures.com/patterns/church.png");
    color: black;
    font-weight: bold; 

}

footer {
     background-color: #2E474E!important; 

}

.navbar{

    background-color: #2E474E;
}


.card-title{
    font-weight: bolder;
    font-size: 20px;
}

.card-text{
    font-size: 18px;
    font-weight: bold;
}

main{

    min-height: 80vh;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

.jumbo-text,.navbar-brand, h1{

    font-weight: bold;
}

.lead{

    font-family: 'Tahoma',serif;
}


